*{
  margin: 0;
  padding: 0; 
}


body {
  background: linear-gradient(rgb(44, 208, 233),#000F57);
  background-repeat: no-repeat;
}

/* Título*/ 
h1 {
  font-family: 'Freckle Face', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 5px;
  margin: 80px;
  margin-top: 130px;
}

/* Título*/ 
#regForm {
  background-color: #373d61;
  background-image: url(SVG/home/PEIXE\ AMARELO\ ROXO.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
  margin: 0 auto; 
  font-family: 'Montserrat';
  width: 60%;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20%; /* Background gradiente */
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

input[type="submit"] {
  display: none;
}

h2 {
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 18px;
}

h3 {
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  margin-top: 13px;
}

input, select {
  padding: 10px 30px; /* Espaçamento entre retângulos */
  width: 60%;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400;
  border-radius: 3px;
  color: rgb(0, 0, 0); /* Escrever texto */
  margin: 20px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #d8738c;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: rgb(13, 189, 130);
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Montserrat';
  cursor: pointer;
  margin: 10px;
}

button:hover {
  opacity: 0.9;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(221, 77, 77)
}

/* Botão voltar para cima */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Sobrepor outros elementos */
  border: none; 
  outline: none; 
  background-color:rgb(255, 255, 255); /* Cor do botão */
  color: rgb(22, 22, 104); /* Cor texto */
  cursor: pointer; /* Quando o mouse passar por cima */
  padding: 15px; 
  border-radius: 80px; /* Borda botão */
  font-size: 18px; 
  font-family: Montserrat;
  font-weight: bold; 
}

#myBtn:hover {
  background-color: rgb(47, 11, 129); /*Botão*/
  color:  rgb(240, 240, 255); /*Texto*/
  font-family: Montserrat;
  font-weight: bold;
  filter: drop-shadow(0 0 0.55rem rgb(248, 244, 245)); /*Botão Efeito*/
}

/* Menu */
#menu {
width: 100%;
position: fixed;
top:0px;
margin: auto;
background: url(SVG/home/bckmenu.png);
background-repeat: repeat-x;
background-size: 70%;
z-index: 1000;
}

nav{
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
}

#menu ul {

margin:auto;
list-style: none;
}

#menu ul li {
display: inline-block;

}

#menu ul li a {
padding: 20px 30px;
display: inline-block;
color:rgb(17, 66, 99);
text-align: center;
text-decoration: none;
font-family: 'Quicksand';
font-weight: 600;
font-style: normal;
margin: 20px 10px;
}

#menu ul li a :hover {
color: #FFFFFF;

}


/* Bolha */
#bolha-menu {
  margin-left: -25px;
  top: -8px;
  position: relative;
  padding: 10px;
  z-index: -1;  
  width: 80px;
}

#bolha-sobre {
  margin-left: -25px;
  top: -8px;
  position: relative;
  padding: 10px;
  z-index: -1;
  width: 80px;
}

#bolha-noticias {
  margin-left: -27px;
  top: 2px;
  position: relative;
  padding: 10px;
  z-index: -1;
  width: 105px;
}

#bolha-animais {
  margin-left: -26px;
  top: 2px;
  position: relative;
  padding: 10px;
  z-index: -1;
  width:103px;
}


#bolha-contato {
  margin-left: -22px;
  top: 2px;
  position: relative;
  padding: 10px;
  z-index: -1;
  width:103px;
}

#bolha-doar {
  margin-left: -25px;
  top: -6px;
  position: relative;
  padding: 10px;
  z-index: -1;  
  width: 80px;
}

/* Span bolha */

a {
  display: block;
}

a span {
  display: none;
}

a:hover span {
  display: block;
  position: absolute;
  top: 0;
}


@media screen and (max-width: 768px) {
body {
    overflow-x: hidden;
}

menu {
    display: none;
}
    #menu ul {
    position: fixed;
    background: rgb(44, 208, 233);
    height: 88vh;
    display: flex;
    flex-direction: column;
    right: 0;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
} 
    #menu li{
   opacity: 0;
}

    #menu-active {
    transform: translateX(0%);
}

@keyframes menuLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg translate (-5px,6px));
}
.toggle .line2 {
    opacity: 0;;
}
.toggle .line3 {
    transform: rotate(45deg translate (-5px,6px));
}
