*{
    margin: 0;
    padding: 0; 
}


body {
    background: linear-gradient(rgb(44, 208, 233),#000F57);
    background-repeat: no-repeat;
}

#content {
    display: none;
}

/* Título*/ 
h1 {
    font-family: 'Freckle Face', cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 39px;
    color: #FFFFFF;
    text-align: center;
    padding: 100px; /* Margem Interna*/ 
    margin: 0 80px; /* Margem dos lados*/ 
    letter-spacing: 5px; /* Espaço entre letras*/ 
}

figcaption { /*Legenda */
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    padding: 0px 300px; /* Largura */
    line-height: 35px; /* Espaçamento entre linhas */
}

h2 { /* Escrito por */
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0px 300px ; /* Largura */ 
    
}

/* Parágrafo */
p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #FFFFFF;
    padding: 10px 300px 0px; /* Largura */
    line-height: 35px; /* Espaçamento entre linhas */
}


/* Menu */
#menu {
    width: 100%;
    position: fixed;
    top:0px;
    margin: auto;
    background: url(SVG/home/bckmenu.png);
    background-repeat: repeat-x;
    background-size: 70%;
    z-index: 1000;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#menu ul {

    margin:auto;
    list-style: none;
}

#menu ul li {
    display: inline-block;
   
}

#menu ul li a {
    padding: 20px 30px;
    display: inline-block;
    color:rgb(17, 66, 99);
    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand';
    font-weight: bold;
    font-style: normal;
    margin: 20px 10px;
}

#menu ul li a :hover {
    color: #FFFFFF;

}

/* Bolha */
#bolha-menu {
    margin-left: -25px;
    top: -8px;
    position: relative;
    padding: 10px;
    z-index: -1;  
}

#bolha-sobre {
    margin-left: -25px;
    top: -8px;
    position: relative;
    padding: 10px;
    z-index: -1;  
}

#bolha-noticias {
    margin-left: -27px;
    top: 2px;
    position: relative;
    padding: 10px;
    z-index: -1;
}

#bolha-animais {
    margin-left: -26px;
    top: 2px;
    position: relative;
    padding: 10px;
    z-index: -1; 
}

#bolha-contato {
    margin-left: -22px;
    top: 2px;
    position: relative;
    padding: 10px;
    z-index: -1;
}

/* Span bolha */

a {
    display: block;
}

a span {
    display: none;
}

a:hover span {
    display: block;
    position: absolute;
    top: 0;
}

/* Search Button */
form{ /* Botão ao todo */
    position: relative;
    top: 40px;
    left: 60%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px; /* Tamanho do botão */
}

input{ /* Pesquisa */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{  /* Ícone */
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: rgb(17, 66, 99);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{ 
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: inline-block;
}

form:hover .fa{
    background: rgb(17, 66, 99); /* Círculo Fundo */
    color: white; /* Cor Ícone */
}

/* Botão voltar para cima */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Sobrepor outros elementos */
    border: none; 
    outline: none; 
    background-color:rgb(255, 255, 255); /* Cor do botão */
    color: rgb(22, 22, 104); /* Cor texto */
    cursor: pointer; /* Quando o mouse passar por cima */
    padding: 15px; 
    border-radius: 80px; /* Borda botão */
    font-size: 18px; 
    font-family: Montserrat;
    font-weight: bold;
  }
  
#myBtn:hover {
    background-color: rgb(47, 11, 129); /*Botão*/
    color:  rgb(240, 240, 255); /*Texto*/
    font-family: Montserrat;
    font-weight: bold;
    filter: drop-shadow(0 0 0.55rem rgb(248, 244, 245)); /*Botão Efeito*/
  }

/*Imagens*/
#page2 {
    background: url(SVG/impactos/pedras.svg);
    background-repeat: no-repeat;
    background-size: 1370px;
    margin-top: 140px;
    text-align: center;
}

#costa {
    width: 700px;
}

#coral {
    width: 700px;
    background: url(SVG/impactos/TARTATUGA.svg);
    background-repeat: no-repeat;
    background-size: 90px;
}

#agua-viva {
    width: 700px;
    background: url(SVG/sobre/BOLHAS.svg);
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: right;
}

#nemo {
    width: 700px;
}

/* Card Principal */
flip-left { /* AOS Scroll*/
    transition: 3s;
}

.box-card { /*Todos os cards*/
    display: flex;
    flex-direction: row;
    padding: 0 70px;
    margin: 0 210px 50px;
}

/* Card */

h3 { /* Título */
    margin: 7px 13px;
    text-align: center;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}


article { /* Parágrafo */
    color: rgb(14, 14, 14);
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

h4 {
    display: none;
}

/* Card 2*/
.card-2 {
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2);
    transition: 0.2s;
    background-color: rgba(255, 255, 240, 0.87);
    width: 300px;
    height:500px;
    border-radius: 5px;
    margin: 0 50px;
}
  
#petroleo {
    border-radius: 5px 5px 0 0;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: 1s ease;
}

#petroleo:hover {
    border-radius: 5px 5px 0 0;
    -webkit-filter: none; 
    filter: none;
    transition: 1s ease;
}
.card-2 .btn:hover {
    background-color: rgb(137, 27, 151);
}

.card-2:hover {
    box-shadow: 0 8px 16px 0 rgba(201, 201, 201, 0.7);
}


.card-2 .btn { /* Botão*/
    border: rgba(116, 7, 79, 0.2);
    border-radius: 4px ;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14, 150, 150);
    text-align: center;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    margin: 0px 93px;
    text-decoration: none;
}
  
.card-2 .btn:hover {
    background-color: rgb(137, 27, 151);
}

/* Card 3*/
.card-3 {
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2);
    transition: 0.2s;
    background-color: rgba(255, 255, 240, 0.87);
    width: 300px;
    height:500px;
    border-radius: 5px;
    margin: 0 50px;
}
  
#national {
    border-radius: 5px 5px 0 0;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: 1s ease;
}

#national:hover {
    border-radius: 5px 5px 0 0;
    -webkit-filter: none; 
    filter: none;
    transition: 1s ease;
}

.card-3 .btn:hover {
    background-color: rgb(137, 27, 151);
}

.card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(201, 201, 201, 0.7);
}


.card-3 .btn { /* Botão*/
    border: rgba(116, 7, 79, 0.2);
    border-radius: 4px ;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14, 150, 150);
    text-align: center;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    margin: 0 90px;
    text-decoration: none;
}
  
.card-3 .btn:hover {
    background-color: rgb(137, 27, 151);
}


@media screen and (max-width: 600px) { /*Textos*/
    /*Parágrafo*/
p {
     font-family: 'Monteserrat',sans-serif;
     font-weight: 400;
     font-size: 18px;
     font-style: normal;
     color: #FFFFFF;
     padding: 0px 20px; /* Largura */
     line-height: 25px;
     margin: 0 20px; /* Espaçamento entre linhas */}
 
     /* Título*/ 
h1 {
     font-family: 'Freckle Face', cursive;
     font-weight: 700;
     font-style: normal;
     font-size: 35px;
     color: #FFFFFF;
     text-align: center;
     letter-spacing: 5px;
     padding: 15px;
     margin-bottom: 20px;
 }

h2 { /* Escrito por */
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: left; 
    padding: 0px 20px 20px; /* Largura */
    margin: 0 20px;
}

figcaption { /*Legenda */
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px; /* Espaçamento entre linhas */
    padding: 0px 20px; /* Largura */
}}

@media screen and (max-width: 600px) {
/* Menu */

@media screen and (max-width: 600px) {
    /*Logo*/
        #logo {
            width: 100%;
            margin-bottom: 0;
        }
    
    /*Imagem*/
        #nemo, #agua-viva, #coral, #costa {
            width: 100%;
            flex-direction: column;
        }
        #page2 {
            background: none;
        }
        }

@media screen and (max-width: 600px) {
/*Card*/
.card-1, .card-2, .card-3, .box-card{
    width: 70%;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-1 button { /* Botão*/
    border: rgba(116, 7, 79, 0.2);
    border-radius: 4px ;
    outline: 0;
    color: white;
    background-color: rgb(14, 150, 150);
    text-align: center;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    margin: 0 80px;
}

.card-2 button { /* Botão*/
    border: rgba(116, 7, 79, 0.2);
    border-radius: 4px ;
    outline: 0;
    color: white;
    background-color: rgb(14, 150, 150);
    text-align: center;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    margin: 0 80px;
}

.card-3 button { /* Botão*/
    border: rgba(116, 7, 79, 0.2);
    border-radius: 4px ;
    outline: 0;
    color: white;
    background-color: rgb(14, 150, 150);
    text-align: center;
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    margin: 0 80px;
}
}
}